<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block name %}Default Title{% endblock %}</title>
</head>
<body>
    {% block pagename %}
    <h1>Главная страница</h1>
    {% endblock %}
    <nav>
        {% block menu %}
        <ul>
            <li><a href="/platform">Главная</a></li>
            <li><a href="/platform/cases">Магазин</a></li>
            <li><a href="/platform/cart">Корзина</a></li>
        </ul>
        {% endblock %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>